{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PokemonType</title>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <style>
        .top_buffer {
            margin-top: 10px;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #efefef;
        }

        .error {
            display: none;
            margin-left: 10px;
        }

        .error1 {
            display: none;
            margin-left: 10px;
        }

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .error1_show {
            color: red;
            margin-left: 10px;
        }

        input.invalid, textarea.invalid {
            border: 2px solid red;
        }

        input.valid, textarea.valid {
            border: 2px solid green;
        }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
          integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-8">

            <h1>pokemon categories</h1>
            <table class="table table-striped js-table">
                <thread>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col" colspan="3">Hidden</th>
                    </tr>
                </thread>

                <tbody class="body">
                {% for j in object_list %}
                    <tr class="js-data-row {% if j.delete_me_bool %}hidden{% endif %}"
                        data-is-hidden="{{ j.delete_me_bool }}">
                        <th scope="row">{{ j.category_type|capfirst }}</th>
                        <td>{{ j.delete_me_bool }} </td>
                        {% if j.delete_me_bool %}
                            <td>
                                <button type="button" class="btn btn-success js-type-hide-show" data-id="{{ j.id }}"
                                        data-hide="{{ j.delete_me_bool }}">show
                                </button>
                            </td>
                        {% else %}
                            <td>
                                <button type="button" class="btn btn-danger js-type-hide-show" data-id="{{ j.id }}"
                                        data-hide="{{ j.delete_me_bool }}">hide
                                </button>
                            </td>
                        {% endif %}

                        <td>
                            <button type="button" class="btn btn-danger js-delete" data-id="{{ j.id }}">delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col-xs-2">
                <a href="{% url "menu:pokemon_form" %}" class="btn btn-danger pull-left" role="button">go
                    back</a>
            </div>
            <form action="type" method="post">
                {% csrf_token %}
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-primary">submit new category</button>
                </div>


            </form>

            <div class="col-xs-3">
                <!--<button type="button" class="btn btn-warning">show hidden categories</button>-->
                <input class="js-show-toggle" type="checkbox" checked data-toggle="toggle"
                       data-off="<i class='fa fa-eye-slash'></i> hide"
                       data-on="<i class='fa fa-eye'></i> show"
                       data-onstyle="warning" data-offstyle="info">
            </div>


        </div>
    </div>

</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
        integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>
<script>

    $(document).ready(function () {
        const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        $(document).on('click', '.js-type-hide-show', function (e) {
            const category_type_id = $(this).data('id');
            let category_hide = false;
            if ($(this).data('hide') == "False") {
                category_hide = true;
            }

            $.ajax({
                type: "POST",
                url: '{% url "menu:PokemonFormType" %}',
                data: {
                    csrf: csrftoken,
                    id: $(this).data('id'),
                    hide: category_hide,
                },
                headers: {"X-CSRFToken": csrftoken},
                datatype: "json",
                success: async function (data) {
                    const {value: temp} = await Swal.fire(
                        data.message
                    );
                    location.reload()
                },
                error: function (err) {

                    console.error('an error occurred', err);
                    Swal.fire(
                        '\n OOPS!! Looks like we\'re blasting off again!\n',
                    );

                }
            });
        });

        $(document).on('change', '.js-show-toggle', function (e) {
            let data_rows = $('.js-data-row').toArray();

            data_rows.forEach(function (element, index) {
                if ($(element).data('is-hidden') === 'True' && $(element).hasClass('hidden')) {
                    $(element).removeClass('hidden');
                } else if ($(element).data('is-hidden') === 'True' && $(element).hasClass('hidden') === false) {
                    $(element).addClass('hidden');
                }
            });
        });

        $(document).on('click', '.js-delete', function (e) {
            const category_id = $(this).data('id');
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'delete'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: '{% url "menu:PokemonType" %}',
                        data: {csrf: csrftoken, id: category_id, delete_me: 'true'},
                        headers: {"X-CSRFToken": csrftoken},
                        dataType: "json",
                        success: async function (data) {
                            await Swal.fire(
                                data.message,
                            );
                            location.reload()
                        },
                        error: function (err) {
                            console.error('an error occurred', err)
                        }
                    });
                }
            })
        });
    });


</script>
</html>